body{
    min-width: 1366px;
    //width: 1366px;
    //margin: 0 auto;
    padding: 0px;
}
.header-main,
.fast-content,
.favorites-devices-block,
.footer{
    width: 1366px;
    margin: 0 auto;
}

.header-main{
    display: block;
    //margin-bottom: 29px;
    padding: 0;
    min-height: 92px;
    //width: auto;
    //border-bottom: 1px solid #f0f0f0;
}
.header{
    display: inline-block;
    margin: 36px 14px;
    font-weight: bold;
    font-size: 16px;
    font-family: "Arial-BoldMT", "Arial";
}

.header a{
    box-sizing: border-box;
    height: 20px;
    width: 79px;
    text-decoration: none;
    color: #333333;
}
.header a:hover{
    color: red;
}
.header-logo-yand{
    position: relative;
    height: 27px;
    width: 130px;
    padding: 0px;
    margin: 32px 32px 33px 40px;
}
.header-logo-home{
    position: absolute;
    height: 35px;
    width: 40px;
    left: 65px;
    top: 0px;
}
.header-report{
    position: relative;
    top: -5px;
    left: -20px;
    color: #333333;
    line-height: 20px;
    //background: #419bf9;
}
.header-devices{
    position: relative;
    top: -5px;
    left: -20px;
    opacity: 0.6;
    color: #333333;
    line-height: 20px;
    //background: #419bf9;
}
.header-scenarios{
    position: relative;
    top: -5px;
    left: -20px;
    opacity: 0.6;
    color: #333333;
    line-height: 20px;
    //background: #419bf9;
}
.header-line{
    //margin-bottom: 29px;
    border-bottom: 1px solid #f0f0f0;
}

.column{
    display: inline-block;
    vertical-align: top;
}
.content-first-line{
    //position: relative;
    //width: 50%;
    width: 670px;
    //left: 0;
}
.main-monitor{
    width: 630px;
    height: 331px;
    margin: 20px 20px 20px 40px;
    //border: 1px solid black;
    border-radius: 20px;
    background: url("../guide/assets/bg@1x.png") no-repeat;
}
.content-main{
    display: block;
    margin: 29px 0px 20px 39px;
    font-family: "Arial-BoldMT", "Arial";
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}
.welcome-title{
    display: block;
    float: left;
    margin: 26px 25px 6px;
    font-family: "Arial-BoldMT", "Arial";
    font-size: 27px;
    font-weight: bold;
    color: #333333;
}
.short-info{
    display: block;
    float:left;
    margin: 6px 25px 25px;
    font-family: ArialMT;
    font-size: 14px;
    color: #333333;
}
.temperature-block{
    display: block;
    float: left;
}
.temperature-info{
    display: inline-block;
    //float: left;
}
.temperature-home{
    margin-left: 25px;
}
.temperature-outside{
    margin-left: 20px;
}
.temperature-place{
    font-family: ArialMT;
    font-size: 14px;
    color: #858585;
}
.temperature-deg{
    display: inline-block;
    font-family: "Arial-BoldMT", "Arial";
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    letter-spacing: 0;
    text-align: left;
}
.temperature-svg{
    height: 26px;
    width: 26px;
    background: url("../guide/assets/cloud-drizzle.svg") no-repeat;
}
.next-scenarios{
    //display: block;
    position: relative;
    width: 220px;
    height: 310px;
    margin-top: 20px;
    //top: 0;
    //right: 20px;
    float: right;
    //border: 1px solid black;


}
.content-next-scenaries{
    position: relative;
    width: 200px;
    height: 120px;
    background: #F7F7F7;
    border-radius: 20px;
    margin: 0 20px 15px 0;
}
.scenario-img{
    //margin: 14px;
    position: absolute;
    top: 14px;
    left: 14px;
}
.scenario-bloc{
    position: absolute;
    bottom: 14px;
}
.scenario-title{
    font-family: "Arial-BoldMT", "Arial";
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    text-align: left;
    margin: 3px 15px;
    font-weight: bold;
    //position: relative;
    //bottom: -20px;
    //display: table-cell;
}
.scenario-content{
    font-family: ArialMT;
    font-size: 12px;
    color: #858585;
    letter-spacing: 0;
    text-align: left;
    margin: 0 15px;
    //position: relative;
    //bottom: -20px;
    //float: bottom;
}

.content-second-line{
    width: 674px;
    height: 421px;
    //border: 1px solid black;
    margin: 0;
}
.favorites-title{
    display: block;
    position: relative;
    //width: 200px;
    margin: 29px 0px 20px 25px;
    font-family: "Arial-BoldMT", "Arial";
    font-weight: bold;
    font-size: 18px;
    color: #333333;
}
.favorites-navigation{
    //display: block;
    position: absolute;
    right: 10px;
    top: 0;
    //float: right;
}
.favorites-navigation div{
    display: inline-block;
}
.favorites-scenarios{
    margin: 20px 0 20px 25px;
    //border: 1px solid black;
}
.favorites-scenarios a{
    text-decoration: none;
}
.fav-column{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 100px;
    background: #F7F7F7;
    border-radius: 20px;
    margin: 0 13px 15px 0;
    vertical-align: bottom;
}
.fav-column:hover{
    background: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
}


/*Стиль к Избранным устройствам*/
.favorites-devices{
    position: relative;
    margin: 29px 40px 25px;
}
/**
.favorites-devices a{
    display: inline-block;
    text-decoration: none;
}
*/
.favorites-devices-block div{
    //display: inline-block;
}
.fav-dev-title{
    font-family: Arial-BoldMT, "Arial";
    font-weight: bold;
    font-size: 18px;
    color: #333333;
    //margin-right: 3px;
    margin: 14px 13px 25px 40px;
    float: left;
}

.favorites-devices-block input{
    display: none;
}
.favorites-devices-block label{
    cursor: pointer;
    font-family: "Arial-BoldMT", "Arial";
    font-weight: bold;
    font-size: 13px;
    color: #000000;
    text-align: left;
    display: inline-block;
    background: #F7F7F7;
    border-radius: 20px;
    margin: 9px 5px 25px;
    padding: 8px 15px;
}

.favorites-devices-block label:hover{
    background: #FFD93E;
}

.favorites-devices-block input.select-all:checked ~ label.label-all,
.favorites-devices-block input.select-kitchen:checked ~ label.label-kitchen,
.favorites-devices-block input.select-hall:checked ~ label.label-hall,
.favorites-devices-block input.select-lights:checked ~ label.label-lights,
.favorites-devices-block input.select-cameras:checked ~ label.label-cameras{
    background: #FFD93E;
}

.favorites-devices-tab{
    margin-left: 40px;
}
.fav-dev-tab{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 120px;
    background: #F7F7F7;
    border-radius: 20px;
    margin-right:15px;
}

.favorites-devices-tab .fav-dev-tab{
    display: none;
    }

.favorites-devices-block input.select-all:checked ~ .favorites-devices-tab .fav-dev-tab,
.favorites-devices-block input.select-kitchen:checked ~ .favorites-devices-tab  .dev-kitchen,
.favorites-devices-block input.select-hall:checked ~ .favorites-devices-tab .dev-hall,
.favorites-devices-block input.select-lights:checked ~ .favorites-devices-tab .dev-lights,
.favorites-devices-block input.select-cameras:checked ~ .favorites-devices-tab .dev-cameras{
    display: inline-block;
    }
/**
.fav-dev-class{
    //height: 30px;
    //width: 67px;
    background: #F7F7F7;
    border-radius: 20px;
    margin: 0 10px;
    padding: 8px 15px;
}

.fav-dev-class:hover{
    background: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
    cursor: pointer;
}
.fav-dev-class:focus{
    background: #FFD93E;
}
.fav-dev-class div{
    font-family: "Arial-BoldMT", "Arial";
    font-weight: bold;
    font-size: 13px;
    color: #000000;
    text-align: left;
}
*/


/**
.touch{
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}
.ff-container div label{
 //   cursor: pointer;
}
.touch:hover{
    color: red;
}
.touch input.ff-selector-type-all:checked ~ label.ff-label-type-all,
.touch input.ff-selector-type-1:checked   ~ label.ff-label-type-1,
.touch input.ff-selector-type-2:checked   ~ label.ff-label-type-2{
    background:yellow;
}
.ff-container div input{
    display: none;
}
.favorites-devices-tab .fav-dev-tab{
    display: none;
    //display: inline-block;
    //opacity: 0.5;
}
.favorites-devices-block input.select-all:checked ~ .favorites-devices-tab .fav-dev-tab,
.favorites-devices-block input.select-kitchen:checked ~ .favorites-devices-tab  .fav-dev-1,
.favorites-devices-block input.select-hall:checked ~ .favorites-devices-tab div.fav-dev-2{
    display: inline-block;
    //opacity: 1;
}
*/